*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    padding: 20px;
    background-color: green;
    display: block;
    font-size: 40px;
}
body{
    background-color: antiquewhite;
}
.contener{
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 30vh;
    font-size: 30px;
}
input{
    border-radius: 1.5rem;
    font-size: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}
button{
    background-color: aliceblue;
    font-size: 20px;
    border-radius: 1rem;
    padding: 2px 0 2px 0;
    padding: 5px;
}